<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
</head>
<body>
    <h3>Registration Form</h3>
    <form action="register" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="pass">Password:</label>
        <input type="password" name="pass">
        <label for="confPass">Confirm Password:</label>
        <input type="password" name="confPass">
        <input type="submit" value="Regiter">
    </form>
</body>
</html>